/* ABOUT SECTION */
.about-section {
  display: flex;
  position: relative;
  height: 80vh;
  min-height: 500px;
  margin: 0 30px;
}

.inline {
  display: contents;
}

.arrow-up {
  position: relative;
  left: 100%;
  top: 2.5rem;
}

/*
.text-box {
}
*/
.about-text-p1 {
  text-align: center;
  font-weight: 600;
}

.title {
  font-size: 2.9rem;
  margin-bottom: 15px;
  text-align: center;
}


/*
.about-container {}

.about-details-container {
}


.text-container {
}
*/
.text-container p {
  text-align: justify;
  margin: 20px;
}

.details-history-containers {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.arrow {
  position: relative;
  left: 100%;
  bottom: 3rem;
}

@media (max-width: 1330px) {

  .about-text-p2 {
    font-size: 1rem;
  }

  .title {
    font-size: 2.8rem;
    margin-bottom: 15px;
    text-align: center;
  }

  .about-text-p1 {
    font-size: 1.3rem;
  }


}

@media (max-width: 1000px) {


  .profile-box {
    padding-top: 5vh;
    height: 96vh;
    margin: 0 0rem;
    gap: 1rem;
  }

  .details-history-containers {
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .inline {
    display: inline;
  }

  .details-container {
    margin: 0.5rem;
    min-width: 250px;
    min-height: 200px;
  }

}

@media (max-width: 800px) {

  .about-about-container {
    flex-direction: column;
    align-items: center;
  }


  .details-container {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 600px) {}