/* FOOTER*/
footer {
  position: relative;
  height: 26vh;
  min-height: 90px;
  margin: 0 1rem;
  margin-top: -10px;
  align-items: center;
  justify-content: space-between;
}



footer p {
  text-align: center;
}

/*

.footer-text {
}
*/

/* RESPONSIVE */
@media (max-width: 1330px) {
  footer {
    margin-top: -50px;
  }

}

@media (max-width: 1000px) {
  footer {
    margin-top: -100px;
  }

  footer p {
    font-size: 12px;
  }

  .box-2 {
    display: none;
  }

}

@media (max-width: 800px) {
  footer {
    margin-top: -200px;
  }
}

@media (max-width: 600px) {
  footer {
    margin-top: -200px;
  }

}