/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
}

.App {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 1900px;
  margin: 0rem auto;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}
